body {
  background-color: aqua;
  padding: 5px;
  margin: 5px;
}

article {
  padding: 5px;
}

li {
  padding: 3px;
}

.sectionheader {
  text-decoration: underline;
  font-size: 24px;
}

#NSS {
  border: solid black 1px;
  margin: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#MTSU-education {
  border: dotted red 5px;
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#belmont {
  border: dashed orange 12px;
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#ETG {
  border: double yellow 5px;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#ILC {
  border: groove chartreuse 10px;
  margin: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#MTSU-work {
  border: ridge purple 18px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Vanderbilt {
  border: inset deeppink 30px;
  margin: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
